<%# List of events %>
<div class="row">
  <div class="w-100">
    <%= month_calendar events: @user_events do |date, events| %>
      <div class="d-flex flex-column h-100">
        <div class="fw-bold">
          <%= date.day %>
        </div>

        <div class="mt-1 calendar-events" >
          <% if events.any? %>
            <div class="list-group list-group-flush small">
              <% events.each do |event| %>
                <%= link_to events_index_path, class: "list-group-item list-group-item-action p-1 rounded mb-1",
                            style: "background-color: color: white;" do %>
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="text-truncate">
                      <%= event.name %>
                    </span>
                    <span class="badge rounded-pill bg-dark text-light ms-1">
                      <% if event.end_date && event.start_date.to_date != event.end_date.to_date %>
                        ---
                      <% else  %>
                        <%= event.start_date.strftime("%H:%M") %>
                      <% end %>

                    </span>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%# Filtering options card %>
<div class="card mt-4">
  <div class="card-header bg-dark">
    <h5 class="mb-0 text-white"><i class="bi bi-funnel me-2"></i> Filter Events</h5>
  </div>
  <div class="card-body">
    <%= form_with url: calendar_path, method: :get, class: "row g-3 align-items-end", id: "filter-form" do |form| %>
      <div class="col-md-12">
        <%= form.select :group_filter,
                        [["All Groups", "all"]] +
                        @user_groups.map { |g| [g.personal? ? "My Events" : g.name, g.id] },
                        { selected: @group_filter },
                        { class: "form-select", onchange: "this.form.submit();" } %>
      </div>
    <% end %>
  </div>
</div>
