<%= form_with model: @event,
              url: @event.new_record? ? events_create_path : events_update_path(@event.id),
              method: @event.new_record? ? :post : :patch,
              local: true do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, in: 3..64, class: "form-control", required: true %>
    <small class="form-text text-muted">Between 3 and 64 characters</small>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, max: 1000, class: "form-control", rows: 3 %>
    <small class="form-text text-muted">Max. 1000 characters</small>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <%= form.label :start_date, class: "form-label" %>
      <%= form.datetime_local_field :start_date, class: "form-control", required: true %>
    </div>

    <div class="col-md-4 mb-3">
      <%= form.label :end_date, class: "form-label" %>
      <%= form.datetime_local_field :end_date, class: "form-control" %>
    </div>

    <div class="col-md-4 mb-3">
      <%= form.label :frequency, class: "form-label" %>
      <%= form.select :frequency,
                      Event.frequencies.keys.map { |key| [key.humanize, key] },
                      { include_blank: "Select frequency" },
                      { class: "form-select", required: true } %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :group_id, class: "form-label" %>
      <%= form.collection_select :group_id,
                                 current_user.groups, :id, ->(g) { g.personal? ? "My Events" : g.name },
                                 { include_blank: "Select a group" },
                                 { class: "form-select", required: true } %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :location, class: "form-label" %>
      <%= form.text_field :location, max:100, class: "form-control" %>
      <small class="form-text text-muted">Max. 100 characters</small>
    </div>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= link_to 'Cancel', :back, fallback_location: events_index_path, class: "btn btn-outline-secondary" %>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>